body {
    font-family: "Montserrat", "Roboto", sans-serif;
    background: linear-gradient(to right,
            #D0D9D4 0%,
            #D0D9D4 40%,
            #F2F2F0 40%,
            #F2F2F0 100%);
    
}
@media screen and (max-width:1024px){
    body {
        font-family: "Montserrat", "Roboto", sans-serif;
        background: 
        #F2F2F0;
        width: 100%;
        margin: 0;
    }
}
    
/*
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;                     scroll fader aniamate
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
.reveal {
    position: relative;
    opacity: 0;
  }
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  } */ 
/* Header */
header {
    position: fixed;
    top:0;
    width: 100%;
    background-color: #F2F2F0;
    z-index: 5;
    height: 100px;

}

header .content {
    display: flex;
    align-items: center;
    padding: 1.9rem;
}

header .logo {
    flex: 1;
}

.logo h1 {
    font-size: 2rem;
    font-weight: 300;
}

.logo p {
    font-size: 1rem;
    font-weight: 100;
}

header nav ul {
    display: flex;
}

nav li {
    padding-left: 3.5rem;
    font-weight: 300;
}

nav li:hover {
    opacity: 0.5;
}

nav a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
    color: #4a4a4a;
}
header .mobile {
    display: none;
}
.content .menu-button{
    width: 30px;
    display: none;
}

@media screen and (max-width: 940px){ /* Iphone screen size */
    .desktop{
        position: absolute;
        background-color: rgba(191, 183, 183, 0.369);
        backdrop-filter: blur(15px);
        width: 100%;
        height: 100vh;
        display: flex;
        top:0;
        left:0;
        justify-content: space-around;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    .desktop.mobile-menu{
        margin-left: 0;
        
    }
    header .content .desktop ul{
        display: flex;
        margin: 0;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header .content .desktop ul li{
        margin: 25px auto;
    }
    header .content .desktop ul li a{
        font-size: 1.5rem;
    }
    header .content{
        padding: 0;
    }
    header .content .logo h1{
        font-size: 1.2rem;
        padding-top: 1.9rem;
        padding-left: 1.9rem;
    }
    header .content .logo p{
        font-size: 0.7rem;
        padding-left: 1.9rem;
    }
    .content .menu-button{
        top: 0;
        right: 0;
        position: absolute;
        display: flex;
        padding: 1.9rem;
    }

}
@media screen and (min-width: 940px) and (max-width:1040px){ /* Ipad Pro responsive*/
    .desktop{
        position: absolute;
        background-color: rgba(191, 183, 183, 0.369);
        backdrop-filter: blur(15px);
        width: 100%;
        min-height: 100vh;
        display: flex;
        top:0;
        left: 0;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    .desktop.mobile-menu{
        margin-left: 0;
        
    }
    header .content .desktop ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header .content .desktop ul li{
        margin: 25px 0;
    }
    header .content .desktop ul li a{
        font-size: 2rem;
    }
    header .content{
        padding: 0;
    }
    header .content .logo h1{
        font-size: 1.2rem;
        padding-top: 1.9rem;
        padding-left: 1.9rem;
    }
    header .content .logo p{
        font-size: 0.7rem;
        padding-left: 1.9rem;
    }
    .content .menu-button{
        top: 0;
        right: 0;
        position: absolute;
        display: flex;
        padding: 1.9rem;
    }

}

.openbox {
    padding: 0 3rem 2rem 3rem;
    border: solid 1px #798C8C;
    background-color: #798C8C;
    width: 250px;
    height: 450px;
    margin-left: 25%;
    margin-top: 150px;
    justify-content: center;
    box-shadow: -2px 10px 20px 20px rgba(1, 1, 1, 0.2);
}

#first-section .linebox {
    margin-top: 15px;
    height: 1px;
    width: 100%;
    background-color: black;
}

#first-section .openbox img {
    border: solid 1px #798C8C;
    border-radius: 100%;
    margin-top: 15px;
    width: 100%;
}

#first-section .openbox h2 {
    justify-content: center;
    display: flex;
    font-size: 1.5rem;
    margin-top: 15px;
}

#first-section .openbox p {
    justify-content: center;
    display: flex;
    font-size: 0.8rem;
    margin-top: 5px;
}

#first-section .box-social {
    display:flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 0;
}

#first-section .box-social img {
    width: 40px;
    margin: 0 auto;
}


/* Resume Section */
.resume {
    width: 48%;
    float: right;
    display: block;
    flex-direction: column;
    margin-top: -400px;
}
.resume .resume-title h1{
    font-size: 5rem;
    display: flex;
    justify-content: start;

}
.resume .resume-title p{
    font-size: 1.5rem;
    display: flex;
    justify-content: start;

}
.resume .resume-p p{
    font-size: 1rem;
    text-align: left;
    line-height: 1.3rem;
    width: 50%;
    display: flex;
    justify-content: start;
    margin-top: 15px;
}
.resume button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 30px;
    border-radius: 30px;
    margin-top: 15px;
}

@media only screen and (max-width: 940px){ /*Mobile phone responsive*/
    .openbox{
        margin-top: 15vh;
        margin-left: auto;
        margin-right: auto;
    }
    .resume {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    
    }
    .resume button{
        display: flex;
        margin: 10px auto;
    }
    .resume .resume-title h1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .resume .resume-title p{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .resume .resume-p{
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    .resume .resume-p p{
        width: 90%;
        text-align: justify;
    }
}
@media screen and (min-width:940px) and (max-width:1040px){ /*Ipad Pro responsive*/
    .resume{
        width:35%;
    }
}
/* diplome section */
#second-section{
    height: 100vh;
    
}
#second-section .diplome{
    margin-top: 300px;
    margin-left: 5%;
    padding-top: 12%;
}

#second-section .diplome h1{
    margin-bottom: 50px;
    font-size: 1.8rem;
}
#second-section .diplome li h2{
    font-size: 1.5rem;
    flex-direction: column;
    margin-bottom: 15px;
    
}
#second-section .diplome ul{
    list-style: square;
    
}
#second-section .diplome li{
    margin-top: 30px;
}
/* cv section */

#second-section .exp{
    float: right;
    margin-top: -200px;
    margin-right: 10%;
}

#second-section .exp h1{
    margin-bottom: 50px;
    font-size: 1.8rem;
}
#second-section .exp li h2{
    font-size: 1.5rem;
    flex-direction: column;
    margin-bottom: 15px;
    
}
#second-section .exp ul{
    list-style: square;
    
}
#second-section .exp li{
    margin-top: 30px;
}
@media only screen and (max-width: 940px){
    #second-section{
        margin-top: 400px;
    }
    #second-section .diplome{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0 auto ;
    }
    .diplome h1{
        width: 92%;
        margin: 0 0 0 20px;
    }
    .diplome ul{
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }
    .diplome ul li{
        list-style: none;
    }
    #second-section .exp{
        display: flex;
        margin: 0 auto ;
        margin-top: 100px;
        float: right;
    }
    #second-section .exp h1{
        position: absolute;
        right: 10px;
    }
    #second-section .exp ul{
        list-style: none;
        margin-top: 50px;
        margin-right: 10px;
    }
    #second-section .exp ul li{
        text-align: right;
        width: 100%;
    }
}
@media screen and (min-width: 940px) and (max-width:1040px){ /* Ipad Pro responsive*/ 
    #second-section{
        margin-top: 20px;
    }
    #second-section .diplome{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0 auto ;
    }
    .diplome h1{
        width: 92%;
        margin: 0 0 0 40px;
    }
    .diplome ul{
        margin-left: 40px;
        display: flex;
        flex-direction: column;
    }
    .diplome ul li{
        list-style: none;
    }
    #second-section .exp{
        display: flex;
        margin: 0 auto ;
        margin-top: 0px;
        float: right;
    }
    #second-section .exp h1{
        position: absolute;
        right: 40px;
    }
    #second-section .exp ul{
        list-style: none;
        margin-top: 60px;
        margin-right: 40px;
    }
    #second-section .exp ul li{
        text-align: right;
        width: 100%;
    }
}
/* about section */

#third-section{
    margin-top: 10%;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}
.content-box{
    padding: 0 3rem 2rem 3rem;
    border: solid 1px #798C8C;
    background-color: #798C8C;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-box h1{
    font-size: 2rem;
    justify-content: center;

    display: flex;
}

.content-box li {
    margin-top: 15px;
    list-style: square;
}

/* box bar */
.content-box .box-bar1{
    width: 150px;
    height: 10px;
    display: inline-flex;
    margin: 5px;
    padding: 5px;
}
.content-box .full-bar1{
    width: 150px;
    height: 10px;
    background-color: #F2EFDF;
    border: 1px solid #F2EFDF;
    border-radius: 15px;
}
.content-box .box-bar2{
    width: 150px;
    height: 10px;
    display: inline-flex;
    margin: 5px;
    padding: 5px;
}
.content-box .full-bar2{
    width: 150px;
    height: 10px;
    background-color: #F2EFDF;
    border: 1px solid #F2EFDF;
    border-radius: 15px 0px 0px 15px;
}
.content-box .empty-bar2{
    width: 15px;
    height: 10px;
    display: flex;
    background-color: black;
    border: 1px solid black;
    border-radius: 0px 15px 15px 0px;
}
.content-box .box-bar3{
    width: 150px;
    height: 10px;
    display: inline-flex;
    margin: 5px;
    padding: 5px;
}
.content-box .full-bar3{
    width: 150px;
    height: 10px;
    background-color: #F2EFDF;
    border: 1px solid #F2EFDF;
    border-radius: 15px 0px 0px 15px;
}
.content-box .empty-bar3{
    width: 50px;
    height: 10px;
    display: flex;
    background-color: black;
    border: 1px solid black;
    border-radius: 0px 15px 15px 0px;
}

.content-box .imgbox{
    float: center;
    width: 50px;
    margin-top: 20px;
    margin-left: 30px;
}
@media only screen and (max-width: 940px){
    #third-section{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 150px;
    }
    .content-box{ 
        margin: 6px auto;
    }
}
@media only screen and (min-width: 940px) and (max-width: 1040px){
    #third-section{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .content-box{ 
        margin: 6px auto;
    }
}

#contact-section{
    height: 100vh;
    margin-top: 300px;
}

.contact h1{
    float: left;
    font-size: 4rem;
    margin-left: 20%;
}
.contact-list{
    font-size: 1.2rem;
    margin-right: 15%;
    float: right;
}
.contact-list p{
    margin-left: 20px;
}
.contact-list .img{
    display: flex;
    align-items: center;
}

footer p{
    font-size: 0.8rem;
    padding: 15px;
}
@media only screen and (max-width: 940px){
    #contact-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
    }
    #contact-section h1{
        margin-bottom: 40px;
    }
}
@media only screen and (min-width: 940px) and (max-width: 1040px){
    #contact-section{
        height:50vh;
    }
    footer p{
        position: relative;
        display: flex;
        bottom: 0;
    }
}